body {
  margin: 0;
  padding: 0;
  background-color: rgb(185, 169, 120);
  background-image: -webkit-linear-gradient(270deg, #b9a978, #b9a978);
  background-image: linear-gradient(180deg, #b9a978, #b9a978);
}


#landing-container {
  font-size: 40pt;
  text-align: center;
  display: flex;
  margin: 50vh;
}

/* <----- Landing Page Animation CSS -----> */
.nameAnimation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 115px;
  text-align: center;
  line-height: 50px;
  font-family: 'Inconsolata', monospace;
  text-decoration: none;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}
/* <----- Landing Page Animation CSS -----> */


/* <------- Main Container Style ------> */

.main-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
  margin-top: 200px;
  margin-bottom: 0px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14pt;
  text-align: left;
}

.about-section {
  margin-top: 0px;
  margin-bottom: 19px;
  padding-top: 0px;
  padding-bottom: 90px;
}

.projects-link {
  position: absolute;
  right: 120px;
  bottom: 143px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  background-color: transparent;
  direction: ltr;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-decoration: none;
  color: #000;
  font-size: 40pt;
  line-height: 40px;
  text-align: right;
}

.about-divblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  background-color: rgba(29, 65, 42, .32);
  color: #000;
}


#about-me {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}

#about-paragraph {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}


h1 {
  font-style: bold;
  text-decoration: none;
  font-size: 35pt;
}

p {
  font-style: italic;
  font-size: 18pt;
}

a {
  text-decoration: none;
}
/* <------- Main Container Style ------> */


/* <----- Eaze Calendar Styling -----> */

#project-container {
  display: inline-block;
  max-width: 100%;
}

.project-section {
  display: block;
  width: 500px;
  min-height: 200px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  /* justify-content: flex-start;
  -ms-flex-align: baseline; */
  align-items: baseline;
  text-align: center;
}

.project-divblock {
  display: inline-block;
  width: 274px;
  height: 300px;

  /* animation-name: bounce;
  animation-duration: 2s; */
}


/* <----- Eaze Calendar Styling -----> */
